<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="Database" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="__EsfdbConnectionString__" />
  </connectionStrings>

  <appSettings>
    <add key="xxxxx" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="__xxxxx__"/>
  </appSettings>

</configuration>