<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="TestConnectionString" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="data source=(local);initial catalog=ESF;integrated security=True;multipleactiveresultsets=True;Connect Timeout=90"/>
  </appSettings>

</configuration>